.about-us-box {
    padding: 40px 0;
}

.about-us-box__head {
    max-width: 770px;
    margin-bottom: 40px;

    h1 {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
    .about-us-box {
        padding: 20px 0;
    }

    .about-us-box__head {
        margin-bottom: 20px;

        h1 {
            margin-bottom: 10px;
            font-size: 25px;
        }
    }
}
