.actions-message-body {

    & > *:last-child {
        margin-bottom: 0;
    }
}

.actions-message-body__row {
    display: flex;
    margin-bottom: 10px;
}

.actions-message-body__label {
    display: flex;
    flex-shrink: 0;
    width: 80px;
    margin-right: 15px;
}

.actions-message-body__field {
    padding: 8px 12px;
    text-align: center;
    color: $gray-3;
}

.actions-message-body__txt {
    align-self: center;
    margin: 0 15px 0 0;
}

.actions-message-body__button {
    padding: 12.5px 12px;
    text-transform: uppercase;
}

.actions-message-body__btn-link {
    font-weight: 300;
}

@media screen and (max-width: 400px) {
    .actions-message-body__row {
        display: grid;
        row-gap: 10px;
    }

    .actions-message-body__label,
    .actions-message-body__txt {
        margin-right: 0;
    }
}
