.body-service-tabs {
    & > *:last-child {
        margin-bottom: 0;
    }
}

.body-service-tabs__service-card {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .body-service-tabs__service-card {
        margin-bottom: 15px;
    }
}
