.breadcrumbs {
    font-size: 14px;
    line-height: 1.5;

    &--white {
        color: #fff;
    }
}

.breadcrumbs__link {
    @include hover-supported {
        color: $color-main;
        border-color: $color-main;

        .breadcrumbs--white & {
            border-color: #fff;
        }
    }

    margin-right: 10px;
    border-bottom: 1px solid transparent;

    .breadcrumbs--white & {
        color: #fff;
    }

    &:active {
        color: $color-main--dark;
        border-color: $color-main--dark;

        .breadcrumbs--white & {
            color: #fff;
            border-color: #fff;
        }
    }
}

.breadcrumbs__separator {
    margin-right: 10px;
}

.breadcrumbs__current {
    color: $gray-4;

    .breadcrumbs--white & {
        color: #fff;
        opacity: .7;
    }
}
