.button {
    @include hover-supported {
        background-color: $color-main--dark;
    }

    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 15px 24px;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    background-color: $color-main;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:active {
        background-color: $color-main--darken;
    }

    &--large {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &--stroke {
        @include hover-supported {
            color: #fff;
            background-color: $color-main;
        }

        padding-top: 14px;
        padding-bottom: 14px;
        color: $color-main;
        background-color: transparent;
        border: 1px solid $color-main;
        overflow: hidden;

        &:active {
            background-color: $color-main--dark;
        }

        &--extra {
            padding-top: 18px;
            padding-bottom: 18px;
            width: 100%;
            font-size: 18px;
            color: $gray-2;
            background-color: #fff;
        }
    }
}
