.content {

    .page &--bg {

        &--main {
            color: #fff;
            background-color: $color-main;
        }
    }

    .page & > *:first-child {
        margin-top: 0;
    }

    .page & > *:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {

    .content--bg--main & {
        color: #fff;
    }
}

p,
ul,
ol {

    .content & {
        margin: 1em 0;
    }
}

.content ul {
    padding: 0;
    list-style: none;
}

.content ul li {
    position: relative;
    margin-bottom: 1.25em;
    padding-left: 34px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 7px;
        width: 10px;
        height: 10px;
        background-color: $color-main;
        border-radius: 50%;
    }
}

.content--bg--main ul li::before {
    background-color: #fff;
}

.content a {
    @include hover-supported {
        color: $color-main--dark;
        border-color: $color-main--dark;
    }

    color: $color-main;
    border-bottom: 1px solid $color-main;

    &:active {
        color: $color-main--darken;
        border-color: $color-main--darken;
    }

    &.button-control {
        border-bottom: none;
    }
}

.content strong {
    font-weight: 600;
}

.content .wp-block-image {
    margin: 40px 0;
}

.content img {
    border-radius: 5px;
}
