.content > *:first-child {
    margin-top: 0;
}

.content > *:last-child {
    margin-bottom: 0;
}

p,
ul,
ol {

    .content & {
        margin: 1em 0;
    }
}

.content a {
    @include hover-supported {
        color: $color-main--dark;
        border-color: $color-main--dark;
    }

    color: $color-main;
    border-bottom: 1px solid $color-main;

    &:active {
        color: $color-main--darken;
        border-color: $color-main--darken;
    }

    &.control-button {
        border-bottom: none;
    }
}

.content strong {
    font-weight: 600;
}
