.courses-list {
    display: grid;
    row-gap: 30px;
    padding: 0;
    list-style: none;
}

.courses-list__item {

}

@media screen and (max-width: 576px) {
    .courses-list {
        row-gap: 20px;
    }
}
