.courses {

}

.courses__head {
    margin-top: 0;
    margin-bottom: 30px;
}

.courses__list {
    margin: 0;
}

@media screen and (max-width: 576px) {
    .courses__head {
        margin-bottom: 20px;
    }
}
