.fields-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.fields-list__item {
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;

    &--half {
        width: calc(50% - 20px);
    }

    &--third {
        width: calc((100% / 3) - 20px);
    }

    .form--line &.check {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1210px) {
    .fields-list__item {
        margin-right: 15px;

        &--half {
            width: calc(50% - 15px);
        }

        &--third {
            width: calc((100% / 3) - 15px);
        }
    }
}

@media screen and (max-width: 576px) {
    .fields-list__item {
        margin-top: 15px;
        margin-right: 0;

        &--half {
            width: 100%;
        }

        .form--line &.check {
            margin-top: 15px;
        }
    }
}
