.footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: $gray-1;
}

.footer-nav__column {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.footer-nav__column > a,
.footer-nav__column > span,
.footer-nav__column > p {
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}

.footer-nav__column a {
    @include hover-supported {
        color: $color-main;
        border-color: $color-main;
    }

    //border-bottom: 1px solid transparent;

    &:active {
        color: $color-main--dark;
        border-color: $color-main--dark;
    }
}

.footer-nav__column > .sub-menu {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.footer-nav__column > .sub-menu > li {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer-nav__column > .sub-menu > li > a {

}

@media screen and (max-width: 768px) {
    .footer-nav__column {
        width: calc((100% - 30px) / 3);
        margin-right: 15px;
    }
}

@media screen and (max-width: 576px) {
    .footer-nav__column {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
