.form {

    &--line {
        display: flex;
        align-items: flex-start;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.form__choice-option {
    margin-bottom: 30px;
}

.form__list {
    margin: -30px -20px 30px 0;

    .form--line & {
        width: calc(61.04% + 20px);
    }
}

.form__button {
    display: block;
    width: 100%;

    .form--line & {
        width: calc(38.96% - 20px);
        margin-left: 20px;
        padding-top: 16.5px;
        padding-bottom: 16.5px;
    }
}

.form__button-link {
    margin-top: 10px;
}
