.header {
    grid-area: header;
}

.header__wr {
    background-color: #fff;

    &--start-sticky {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, .3);
        transform: translateY(-100%);
    }

    &--show {
        transition: transform .5s ease;
        transform: translateY(0);
    }

    &--hide {
        transition: transform .5s ease;
    }
}

.header__wr .container {
    display: flex;
    min-height: 110px;
}

.header__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 30px;
    padding: 15px 0;
}

.header__phone {
    @include hover-supported {
        color: $color-main;
    }

    flex-shrink: 0;
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
    font-weight: 500;
    color: $gray-1;

    &:active {
        color: $color-main--dark;
    }
}

.header__social-links {
    flex-shrink: 0;
    align-self: center;
    margin: -10px 30px 0 -10px;
}

.header__button {
    flex-shrink: 0;
    align-self: center;
    padding: 14px 10px;
}
