.help-form {
    padding: 120px 0;
    background-color: #749a5b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.help-form__box {
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;
}

.help-form__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.help-form__form {
    max-width: 770px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .help-form__title br {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .help-form {
        padding: 20px 0;
    }

    .help-form__title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .help-form__box {
        padding: 20px 15px;
    }
}
