.item-advantages-slider {
    box-sizing: border-box;
    height: auto;
}

.item-advantages-slider__icon {
    width: 60px;
    margin-bottom: 15px;
}

.item-advantages-slider__txt {

}

@media screen and (max-width: 576px) {
    .item-advantages-slider {
        padding: 20px;
        text-align: center;
        background-color: $gray-6;
        border-radius: 5px;
    }

    .item-advantages-slider__icon {
        margin-right: auto;
        margin-left: auto;
    }
}
