.lessons-list {
    display: grid;
    row-gap: 30px;
    padding: 0;
    list-style: none;
}

.lessons-list__item {

}

@media screen and (max-width: 576px) {
    .lessons-list {
        row-gap: 20px;
    }
}
