.main-services-list {
    padding: 0;
    list-style: none;
}

.main-services-list__item {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .main-services-list__item {
        margin-bottom: 20px;
    }
}
