.main {
    grid-area: main;

    &--bg {
        &--gray {
            background-color: $gray-6;
        }
    }

    &--article {
        padding: 40px 0;
    }
}

.main--article .container {
    max-width: 800px;
}

.main--article .breadcrumbs-box {
    padding-top: 0;
}

@media screen and (max-width: 576px) {
    .main {
        &--article {
            padding: 20px 0;
        }
    }
}
