.menu {
    display: flex;
}

.menu__list {
    @include reset-list;

    &--main {
        display: flex;
    }

    &--lvl2 {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.menu__item {
    @include hover-supported {
        .menu__link {
            color: $color-main;
        }
    }

    position: relative;
    display: flex;

    &:hover,
    &:focus-within {
        .menu__link {
            //color: $color-main;

            &::after {
                background-image: url("img/bg/angle-down--main.svg");
            }
        }

        .sub-menu {
            margin-top: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}

.menu__actions {
    display: flex;
    margin: 0;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $gray-1;

    .menu-item-has-children & {

        &::after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 24' fill='%23606464' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.84 9.432l-.327-.314a.557.557 0 0 0-.387-.152.557.557 0 0 0-.387.152l-3.737 3.559-3.74-3.563a.557.557 0 0 0-.387-.152.557.557 0 0 0-.387.152l-.328.312a.504.504 0 0 0 0 .737l4.454 4.257c.103.098.24.167.388.167h.002c.146 0 .283-.07.386-.167l4.45-4.246a.514.514 0 0 0 0-.742z'/%3E%3C/svg%3E");
            background-size: contain;
        }
    }

    .menu &:active {
        color: $color-main--dark;

        &::after {
            background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 24' fill='%2350822E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.84 9.432l-.327-.314a.557.557 0 0 0-.387-.152.557.557 0 0 0-.387.152l-3.737 3.559-3.74-3.563a.557.557 0 0 0-.387-.152.557.557 0 0 0-.387.152l-.328.312a.504.504 0 0 0 0 .737l4.454 4.257c.103.098.24.167.388.167h.002c.146 0 .283-.07.386-.167l4.45-4.246a.514.514 0 0 0 0-.742z'/%3E%3C/svg%3E");
        }
    }

    .current-menu-item &,
    .current-menu-parent & {
        font-weight: 700;
        color: $color-main;

        &::after {
            background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 24' fill='%23649E32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.84 9.432l-.327-.314a.557.557 0 0 0-.387-.152.557.557 0 0 0-.387.152l-3.737 3.559-3.74-3.563a.557.557 0 0 0-.387-.152.557.557 0 0 0-.387.152l-.328.312a.504.504 0 0 0 0 .737l4.454 4.257c.103.098.24.167.388.167h.002c.146 0 .283-.07.386-.167l4.45-4.246a.514.514 0 0 0 0-.742z'/%3E%3C/svg%3E");
        }
    }
}

.menu__trigger {
    display: none;
    padding: 0 10px;
    background: 0 0;
    border: none;

    svg {
        transition: all .15s ease-out;

        .menu__item--show-sub-menu & {
            transform: rotate(-180deg);
        }
    }
}

/*sub-menu*/
.menu .sub-menu {
    position: absolute;
    top: 100%;
    z-index: 5;
    width: 300px;
    margin: 10px 0 0 0;
    padding: 15px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 4px 4px 17px rgba(38, 52, 27, 0.1);
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .15));
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in,
                visibility .2s ease-in,
                margin .2s ease-in;

    &::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 14px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: transparent transparent #fff transparent;
    }
}

.menu .sub-menu li {

}

.menu .sub-menu a {
    @include hover-supported {
        color: #fff;
        background-color: $color-main;
    }

    position: relative;
    display: block;
    padding: 10px 25px;
    line-height: 1.5;
    transition: none;

    &:active {
        color: #fff;
        background-color: $color-main--dark;
    }

    &[data-quantity]::after {
        content: attr(data-quantity);;
        display: inline-flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        width: 21px;
        height: 21px;
        margin-left: 10px;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        border-radius: 50%;
        background-color: $color-accent;
    }
}

.menu .sub-menu .current-menu-item > a {
    font-weight: 600;
    color: $color-main;

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $color-main;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }

    &:hover,
    &:focus {
        background-color: transparent;
    }
}

@media screen and (max-width: 1200px) {
    .menu {
        position: fixed;
        top: var(--header-wr-height);
        right: -360px;
        display: block;
        width: 360px;
        height: calc((var(--vh, 1vh) * 100) - var(--header-wr-height));
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fff;
        visibility: hidden;
        overflow-y: auto;
        transition: all .4s cubic-bezier(.25, .8, .25, 1);

        .show-menu & {
            right: 0;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
            visibility: visible;
        }
    }

    .menu__list {

        &--main {
            display: block;
        }
    }

    .menu__item {
        display: block;
    }

    .menu__link {
        flex-grow: 1;
        padding: 8px 20px;

        .menu-item-has-children & {
            padding-right: 10px;

            &::after {
                display: none;
            }
        }
    }

    .menu__trigger {
        display: block;
    }

    /*sub-menu*/
    .menu .sub-menu {
        position: static;
        display: none;
        width: 100%;
        margin: 0;
        padding: 0 0 15px 0;
        box-shadow: none;
        filter: none;
        opacity: 1;
        visibility: visible;

        &::before {
            display: none;
        }
    }

    .menu .sub-menu a {
        font-size: 14px;
        padding: 6px 20px;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        right: -100vw;
        width: 100vw;
    }

    .menu__link {
        padding-right: 15px;
        padding-left: 15px;
    }

    /*sub-menu*/
    .menu .sub-menu a {
        padding-right: 15px;
        padding-left: 15px;
    }
}
