.modal {
    display: none;
    width: 390px;
    padding: 45px 30px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.modal__close {
    opacity: .5;
    transition: all .15s ease-out;
}
