.modal {
    display: none;
    width: 390px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.modal__close {
    opacity: .5;
    transition: all .15s ease-out;
}

@media screen and (max-width: 576px) {
    .modal {
        padding-right: 15px;
        padding-left: 15px;
    }
}
