.offer {
    padding: 120px 0;
    background-color: #677f47;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.offer__title {
    margin-top: 0;
    margin-bottom: 62px;
    font-size: 50px;
    color: #fff;
}

.offer__row {
    display: flex;
}

.offer__form {
    width: 590px;
    flex-shrink: 0;
    margin-right: 60px;
}

.offer__form .form__button {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.offer__form label.error {
    display: none !important;
}

.offer__marketing-logos {
    align-self: flex-end;
    margin: -15px -15px 0 auto;
}

@media screen and (max-width: 1000px) {
    .offer__row {
        display: block;
    }

    .offer__form {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px) {
    .offer {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .offer__title {
        margin-bottom: 30px;
        font-size: 25px;
    }
}
