.our-principles {

}

.our-principles__title {
    margin-bottom: 100px;
}

.our-principles__list {
    //max-width: 1086px;
    margin: 0;
}

@media screen and (max-width: 576px) {
    .our-principles__title {
        margin-bottom: 20px;
    }
}
