.photo-team-item {
    position: relative;
}

.photo-team-item__img {

}

.photo-team-item__txt {
    position: absolute;
    left: 50%;
    width: 285px;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
    background-color: $color-main--lighten;
    border-radius: 5px;
    transform: translateX(-50%);

    .team-list__item:nth-child(1) & {
        bottom: 79px;
    }

    .team-list__item:nth-child(2) & {
        bottom: 20px;
    }
}
