.posts-list {
    display: grid;
    gap: 30px;
    padding: 0;
    list-style: none;

    &--columns {
        &--2 {
            grid-template-columns: 1fr 1fr;
        }

        &--3 {
            grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
            //grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 576px) {
    .posts-list {
        gap: 20px;
    }
}
