.section {
    padding: 80px 0;

    &--bg {

        &--gray {
            background-color: $gray-6;
        }
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 1.4;
    text-align: center;
}

.section__head {
    margin-bottom: 60px;
}
