.section-head-2 {
    padding: 30px;
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    background-color: $color-main--lighten;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .section-head-2 {
        padding: 20px;
        font-size: 15px;
    }
}
