.section-head {
    display: flex;
    align-items: center;
}

.section-head__title {
    width: calc(50% - 30px);
    margin: 0 60px 0 0;
    font-size: 30px;
}

.section-head__txt {
    width: calc(50% - 30px);
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .section-head {
        display: block;
    }

    .section-head__title {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .section-head__txt {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .section-head__title {
        font-size: 20px;
    }

    .section-head__txt {
        font-size: 14px;
    }
}
