.service-cost {

}

.service-cost__item {
    min-height: 350px;

    &--hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-main;
    }

    strong {
        display: block;
        font-size: 20px;
        line-height: 1.35;
    }
}

.service-cost__item--hero-txt {
    margin-bottom: 15px;
    color: #fff;

    strong {
        font-size: 30px;
        line-height: 1.4;
    }
}

.service-cost__item--hero-button {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .service-cost__item {
        min-height: auto;
    }
}

@media screen and (max-width: 576px) {
    .service-cost__item--hero-txt {
        strong {
            font-size: 25px;
        }
    }
}
