.service-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.service-tabs__nav {
    display: none;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    line-height: 1.333;

    li {
        flex-grow: 1;
    }

    a {
        display: block;
        padding: 8px;
        font-size: 15px;
        text-align: center;
        color: $gray-1;
        border-bottom: 2px solid $gray-5;
    }
}

.service-tabs__nav .ui-state-active a {
    //font-weight: 600;
    color: $color-main;
    border-color: $color-main;
}

.service-tabs__body {

}

@media screen and (max-width: 768px) {
    .service-tabs {
        grid-template-columns: 1fr;
        //gap: 15px;
    }
}

@media screen and (max-width: 576px) {
    .service-tabs {
        display: block;
    }

    .service-tabs__nav {
        display: flex;
    }
}
