.switcher-password {
    @include hover-supported {
        .switcher-password__eye {
            stroke: $gray-1;
        }
    }
}

.switcher-password__eye {
    stroke: $gray-3;
    stroke-width: 1.5;

    .switcher-password--show & {
        display: none;
    }

    .field-box__field.error ~ .switcher-password & {
        stroke: $color-error;
    }
}

.switcher-password__eye-slash {
    display: none;

    .switcher-password--show & {
        display: block;
    }
}
