// Colors
$color-main--light:   #DBF1C1;
$color-main:          #649E32;
$color-main--dark:    #50822E;
$color-main--darken:  #436c27;

$color-accent--light: #FFE1B4;
$color-accent:        #FAA14F;

$color-error:         #fb5258;

$gray-1:              #282828;
$gray-2:              #404040;
$gray-3:              #606464;
$gray-4:              #AEAEAE;
$gray-5:              #EAEAEA;
$gray-6:              #FAFAFA;
