// Colors
$color-main--light:   #dbf1c1;
$color-main:          #649e32;
$color-main--dark:    #50822e;
$color-main--darken:  #436c27;

$color-accent--light: #ffe1b4;
$color-accent:        #faa14f;

$color-error:         #fb5258;

$gray-1:              #282828;
$gray-2:              #404040;
$gray-3:              #606464;
$gray-4:              #aeaeae;
$gray-5:              #eaeaea;
$gray-6:              #fafafa;
